# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# Environment variables
.env
.env.local
.env.production

# IDE
.idea/
.vscode/

# Build
dist/
build/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo updates cache
.expo-packager-cache/
.expo-cache/
